/* Header */
header {
    background-color: #343A40;
    color: white;
    text-align: center;
    padding: 10px 10px;
}
/* /* Header * */

.container {
    align-content: center;
    margin-top: 20px;
}

/* 5 Day Forecast Formatting */
.smallText {
    font-size: 0.8rem;
}

.card-body{
    padding: 0.4rem;
}

.cardFormat {
    min-width: 125px;
    flex-grow: 0;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 3px gray;
}

.cardDates{
    margin-bottom: -5px;
}

.iconSizing{
    width: 50px;
}

.card-text {
    margin-bottom: 8px;
}
/* 5 Day Forecast Formatting */

/* Search Bar / Cities Formatting */
.searchSec {
    margin: 0px auto 0px auto;
}
/* Search Bar / Cities Formatting */


/* Main Weather Card Formatting */
.weatherCard {
    margin: 0px 0px 10px -20px;
    max-height: 200px;
}
/* Main Weather Card Formatting */